.container:nth-child(1) {
width: 150px;
height: 200px;
background-color: purple;
position:absolute;
}

div:nth-child(1){
    width: 75px;
    height: 200px;
    background-color: red;
    float: right;

}