/* body {
box-sizing: content-box;
width: 100%;
} */
.div_1 {
    width: 200px;
    height: 200px;
    border: solid 2px brown;
    position:absolute;
    z-index: 100;
}
.div_2 {
    width: 150px;
    height: 200px;
    border: solid 2px brown;
    margin-top: 8%;
    margin-left: 7%;
    position:absolute;
    z-index: 1;


    
}

.div_3 {
    width: 450px;
    height: 100px;
    border: solid 2px brown;
    margin-top: 16%;
    /* margin-left: 6%; */
    position:absolute;
    z-index:1;
}

.div_4 {
    width: 80px;
    height: 420px;
    border: solid 2px brown;
    /* margin-top: 14%; */
    margin-left: 23%;
    position:absolute;
    z-index: 1;
}