:root {
    --main-bg-color: purple;
    --header-bg-color: orange;
    --side-bg-color: green;
    --footer-bg-color: blue;
    --container-bg-color: white;
    --header-width: 100%;
    --header-height: 120px;
    --main-width:69%;
    --main-height: 100%;
    --side-width:30%;
    --side-height: 100%;
    --footer-width:100%;
    --footer-height: 120px;

  }

.side {
    width: var(--side-width);
    height: var(--side-height);
    background-color: var(--side-bg-color);
  }
  
  .main {
    width: var(--main-width);
    height: var(--main-height);
    background-color: var(--main-bg-color);
    width: calc(72% - 50px);
    display: flex;
    justify-content: flex-end;
  }
  
  .header {
    width: var( --header-width);
    height: var( --header-height);
    background-color: var(--header-bg-color);
    text-align: center;
    margin-bottom: 18px;
  }
  .continer {
    height: 480px;
    width: 100%;
    background-color: var(--container-bg-color);
    display: flex;
    justify-content: space-between;
  }
  
  .footer {
    width: var(--footer-width);
    height: var(--footer-height);
    background-color: var(--footer-bg-color);
    text-align: center;
    display: flex;
    margin-top: 15px;
    justify-content: flex-end;


  }
  #header_content {
    padding: 30px;
    font-weight: bold;
  }
  
  #side_content {
    padding: 20px;
    font-weight: bold;
   
  }
  
  #main_content {
    padding: 20px;
    font-weight: bold;
  }
  
  #footer_content {
    padding: 30px;
    font-weight: bold;
  }
  